
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
         <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
           </ul>
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div><!-- container -->
    </div><!-- navbar navbar-inverse -->

    <br>
<div class="container">
<div class="col-md-8">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.29840305828!2d13.43639299999999!3d52.528035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e126b6e2efd%3A0xc281c457bba00f76!2sVolkspark+Friedrichshain!5e0!3m2!1sen!2sde!4v1414568506094" width="100%" height="450" frameborder="0" style="border:0"></iframe>
</div><!-- col-md-4 -->



    <div class="col-md-4">
      <address>
        <strong>Fernando Encinas</strong><br>
        Prenzlauer Berg<br>
        Berlin, DE 10405<br>
      </address>
        <address>
          <p>
            <span class="glyphicon glyphicon-envelope"></span>
            &nbsp;&nbsp;<strong>General Contact:</strong>&nbsp;
            <a href="mailto:contact@task.ly">thedriftingnomad@gmail.com</a>
          </p>
          <p>
            <span class="glyphicon glyphicon-earphone"></span>
            &nbsp;&nbsp;<strong>Customer Support:</strong>&nbsp;
            <a href="mailto:support@task.ly">thedriftingnomad@gmail.com</a>
          </p>
          <p>
            <span class="glyphicon glyphicon-briefcase"></span>
            &nbsp;&nbsp;<strong>Job Inquiries:</strong>&nbsp;
            <a href="mailto:jobs@task.ly">thedriftingnomad@gmail.com</a>
          </p>       
        </address>        
    </div><!-- col-md-4 -->
  </div><!-- container -->

  <hr>

      <hr>


      
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55908845-1', 'auto');
  ga('send', 'pageview');
</script> 